.hotel-card {
  height: 150px;
  width: 100%;
  display: inline-block;
}

.hotel-card-section-image {
  height: 100%;
  width: 30%;
  float: left;
}

.hotel-card-section-image img {
  width: 100%;
  height: auto;
}

.hotel-card-section-description {
  height: 100%;
  width: 50%;
  padding: 0 10px;
  float: left;
}

.hotel-card-section-more {
  border-left: thin dashed;
  text-align: center;
  width: 20%;
  height: 100%;
  float: right;
}

/* para 980px o menos */
@media only screen and (max-width:992px), only screen and (max-device-width: 1000px){

  .hotel-card {
    height: 100%;
    width: 100%;
    display: block;
  }

  .hotel-card-section-image {
    width: 100%;
    float: none;
  }

  .hotel-card-section-image img {
    width: 100%;
  }

  .hotel-card-section-description {
    width: 100%;
    padding: 10px 0;
    float: none;
  }

  .hotel-card-section-more {
    border-left: none;
    border-top: thin dashed;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    float: none;
  }
}
